blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,pre,ul{padding:0;margin:0}
address,caption,cite,code,em,h1,h2,h3,h4,h5,h6,pre,strong,table,td,th{font-size:1em;font-style:normal;font-weight:400}
strong{font-weight:700}
ol,ul{list-style:none outside none}
fieldset,img{border:medium none;vertical-align:middle}
caption,th{text-align:left}
table{border-collapse:collapse;border-spacing:0}
body{font:12px/20px "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;color:#666;background:#FFF none repeat scroll 0 0;min-width:1200px}
input,select,textarea{font:12px/20px Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif}
cite,em,i{font-style:normal}
button,input,select,textarea{outline:0}
html{min-height:101%}
a{color:#333;text-decoration:none;outline:medium none;-webkit-transition-property:color;-webkit-transition-duration:.3s;-webkit-transition-timing-function:ease}
a:active,a:link,a:visited{text-decoration:none}
a:hover{color:#C81623;text-decoration:none}